<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

  <resultMap type="board" id="boardResultSet">
	  	<result column="BOARD_NO" property="boardNo"/>
	  	<result column="BCATEGORY_NO" property="bCategoryNo"/>
	  	<result column="MEMBER_NAME" property="boardWriter"/>
	  	<result column="BOARD_TITLE" property="boardTitle"/>
	  	<result column="BOARD_CONTENT" property="boardContent"/>
	  	<result column="BOARD_DATE" property="boardDate"/>
	  	<result column="BOARD_COUNT" property="boardCount"/>
	  	<result column="BOARD_STATUS" property="boardStatus"/>
	  	<result column="BOARD_LIKE" property="boardLike"/>
	  	<result column="BOARD_COMMENT" property="boardComment"/>
	  	<result column="BOARD_SORT" property="boardSort"/>
	  	<result column="BOARD_DEPTH" property="boardDepth"/>
  </resultMap>
  
  <resultMap type="boardAttachment" id="boardAttachResultSet">
  		<result column="FILE_NO" property="fileNo"/>
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="ORIGIN_NAME" property="originName"/>
  		<result column="SAVE_NAME" property="saveName"/>
  		<result column="FILE_PATH" property="filePath"/>
  		<result column="THUMBNAIL" property="thumbnail"/>
  		<result column="UPLOAD_DATE" property="uploadDate"/>
  </resultMap>
  
  <!-- 공지사항 게시글 총 개수 -->
  <select id="noticeListCount" resultType="_int">
  		SELECT COUNT(*)
		FROM BOARD
		WHERE BCATEGORY_NO = 1
		AND BOARD_STATUS = 'Y' 
  </select>
  
  <!-- 공지사항 리스트 조회 -->
  <select id="noticeSelectList" resultMap="boardResultSet" >
		SELECT BOARD_NO,BOARD_TITLE,MEMBER_NAME,BOARD_DATE,BOARD_COUNT
 		FROM BOARD B
 		JOIN MEMBER ON(BOARD_WRITER=MEMBER_NO)
 		WHERE B.BCATEGORY_NO = 1 AND B.BOARD_STATUS='Y'
 		ORDER BY BOARD_DATE DESC
  </select>
  
  <!-- 공지사항 조회수 증가 -->
  <update id="noticeCountIncrease">
  		UPDATE BOARD
  		SET BOARD_COUNT = BOARD_COUNT + 1
  		WHERE BOARD_NO = #{boardNo}
  		AND BOARD_STATUS = 'Y'
  		AND BCATEGORY_NO = 1
  </update>	
	
  <!-- 공지사항 상세 조회 -->
  <select id="noticeSelect" resultMap="boardResultSet">
  		SELECT BOARD_NO,BOARD_TITLE,BOARD_CONTENT,MEMBER_NAME,BOARD_DATE,BOARD_COUNT
  		FROM BOARD B
  		JOIN MEMBER ON(BOARD_WRITER=MEMBER_NO)
  		WHERE B.BCATEGORY_NO = 1 AND B.BOARD_STATUS='Y'
  		AND BOARD_NO = #{boardNo}
  		ORDER BY BOARD_NO
  </select>
  
  <!-- 공지사항 첨부파일 조회 -->
  <select id="noticeAttachSelect" resultMap="boardAttachResultSet">
  		SELECT FILE_NO ,ORIGIN_NAME ,SAVE_NAME ,FILE_PATH , BOARD_NO
  		FROM BOARD_ATTA
  		WHERE BOARD_NO = #{boardNo}
  </select>
  
  <!-- 공지사항 등록 -->
  <insert id="noticeInsert">
  		INSERT INTO BOARD(BOARD_NO,BCATEGORY_NO,BOARD_TITLE,BOARD_WRITER,BOARD_DATE,BOARD_CONTENT)
  					VALUES(SEQ_BNO.NEXTVAL,1,#{boardTitle},#{boardWriter},sysdate,#{boardContent})
  </insert>
  
  <!-- 공지사항 첨부파일 등록 -->
  <insert id="noticeAttachInsert">
  		INSERT INTO BOARD_ATTA(FILE_NO,BOARD_NO,ORIGIN_NAME,SAVE_NAME,FILE_PATH)
  					VALUES(SEQ_BD_INO.NEXTVAL,SEQ_BNO.CURRVAL,#{originName},#{saveName},#{filePath})
  </insert>
  
  <!-- 공지사항 수정 -->
  <update id="noticeUpdate">
  		UPDATE BOARD
  		SET BOARD_TITLE = #{boardTitle}
  			,BOARD_CONTENT = #{boardContent}
  			,BOARD_WRITER = #{boardWriter}
  			,BOARD_DATE = SYSDATE
  		WHERE BOARD_NO = #{boardNo}
  		AND BOARD_STATUS = 'Y'
  </update>
  
  <!-- 공지사항 첨부파일 수정 -->
  <update id="noticeAttachUpdate">
  		UPDATE BOARD_ATTA
  		SET ORIGIN_NAME = #{originName}
  			,SAVE_NAME = #{saveName}
  			,FILE_PATH = #{filePath}
  			,UPLOAD_DATE = SYSDATE
  		WHERE BOARD_NO = #{boardNo}
  </update>
  
  <!-- 공지사항 수정에서 첨부파일 없을 때 추가 -->
  <insert id="noticeNewAttachInsert">
  		INSERT INTO BOARD_ATTA(FILE_NO,BOARD_NO,ORIGIN_NAME,SAVE_NAME,FILE_PATH)
  					VALUES(SEQ_BD_INO.NEXTVAL,#{boardNo},#{originName},#{saveName},#{filePath})
  </insert> 
  
  <!-- 공지사항 삭제 -->
  <delete id="noticeDelete">
  		UPDATE BOARD
  		SET BOARD_STATUS = 'N'
  		WHERE BOARD_NO = #{boardNo}
  		AND BOARD_STATUS = 'Y'
  </delete> 
  
  
</mapper>