<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="member" id="memberResultSet">
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="Memberlogin" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_PWD = #{memberPwd}
		AND STATUS = 'Y'
	</select>
	
	<!-- 회원가입 -->
	<insert id="Memberinsert" parameterType="member">
		INSERT INTO MEMBER(
							MEMBER_NO
							,MEMBER_ID
							,MEMBER_PWD
							,MEMBER_NAME
							,MEMBER_BIRTH
							,GENDER
							,ADDRESS
							,EMAIL
							,PHONE
							)
				VALUES( 
							SEQ_MNO.NEXTVAL
					       ,#{memberId}
					       ,#{memberPwd}
					       ,#{memberName}
					       ,#{memberBirth}
					       ,#{gender}
					       ,#{address}
					       ,#{email}
					       ,#{phone}
						)
	</insert>
	<select id="checkId" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = #{checkId}
		AND STATUS = 'Y'
	</select>

</mapper>
